workflows/brave-search/Test - Web Search Brave API.json
{
  "name": "Test - Web Search Brave API + Reader",
  "nodes": [
    {
      "parameters": {},
      "id": "e273e408-0d01-41d3-a285-944e29e20197",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        800,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    query: 'n8n execute sub-workflow trigger input data',\n    count: 10,\n    readTopN: 3,\n    readerDelaySeconds: 4,\n    maxContentChars: 6000,\n    country: 'US',\n    search_lang: 'en',\n    ui_lang: 'en-US',\n    freshness: '',\n    safesearch: 'moderate'\n  }\n};"
      },
      "id": "769f332e-dfa2-48bb-a9d0-57efd7511cbb",
      "name": "Build Test Search Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yE8wUNySkRxoR6qx",
          "mode": "id",
          "cachedResultUrl": "/workflow/yE8wUNySkRxoR6qx"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query }}",
            "count": "={{ $json.count }}",
            "readTopN": "={{ $json.readTopN }}",
            "readerDelaySeconds": "={{ $json.readerDelaySeconds }}",
            "maxContentChars": "={{ $json.maxContentChars }}",
            "country": "={{ $json.country }}",
            "search_lang": "={{ $json.search_lang }}",
            "ui_lang": "={{ $json.ui_lang }}",
            "freshness": "={{ $json.freshness }}",
            "safesearch": "={{ $json.safesearch }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "count",
              "displayName": "count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "readTopN",
              "displayName": "readTopN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "readerDelaySeconds",
              "displayName": "readerDelaySeconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "maxContentChars",
              "displayName": "maxContentChars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "search_lang",
              "displayName": "search_lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ui_lang",
              "displayName": "ui_lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "freshness",
              "displayName": "freshness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "safesearch",
              "displayName": "safesearch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "024e70a1-cc67-4440-b381-717598a4c246",
      "name": "Call Web Search Reader Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1264,
        560
      ],
      "notes": "After importing the main reader search workflow, replace the workflowId value with that workflow's real ID."
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst records = Array.isArray(response.records) ? response.records : [];\n\nreturn {\n  json: {\n    status: response.status,\n    provider: response.provider,\n    query: response.query,\n    candidateCount: response.candidateCount,\n    recordCount: response.recordCount,\n    readerStats: response.metadata?.readerStats || {},\n    firstThreeResults: records.slice(0, 3).map((record) => ({\n      rank: record.rank,\n      title: record.title,\n      url: record.url,\n      description: record.description,\n      readerStatus: record.reader?.status || null,\n      contentChars: record.reader?.contentChars || 0,\n      contentPreview: record.reader?.content ? record.reader.content.slice(0, 500) : ''\n    })),\n    fullResponse: response\n  }\n};"
      },
      "id": "864a216e-a4ae-4649-86fc-387ce10362b1",
      "name": "Prepare Test Preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        560
      ]
    },
    {
      "parameters": {
        "content": "## Test workflow setup\n1. Import `Web Search - Brave API + Reader`.\n2. In the main workflow, open **Brave Web Search** and re-select your Brave Header Auth credential if needed.\n3. Copy the imported main workflow ID from its URL.\n4. Paste it into **Call Web Search Reader Workflow**.\n5. Run this test manually. Expected duration is roughly `readTopN × readerDelaySeconds` plus Reader latency.",
        "height": 336,
        "width": 480,
        "color": 4
      },
      "id": "88d87a69-b89e-4ddc-99c9-779616f363b6",
      "name": "Test Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        176
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Build Test Search Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Test Search Payload": {
      "main": [
        [
          {
            "node": "Call Web Search Reader Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Web Search Reader Workflow": {
      "main": [
        [
          {
            "node": "Prepare Test Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "62c294e2-660b-461e-af2d-ce588a93ba21",
  "meta": {
    "instanceId": "d1c4ccf66a09f4410effe2c9a613e63c898b8820cf6eff79e5e5a08d9cbf106c"
  },
  "id": "RHWzSqt2f961slAO",
  "tags": []
}