workflows/brave-search/Test - Web Search Brave API.json
{
  "name": "Test - Web Search Brave API",
  "nodes": [
    {
      "parameters": {},
      "id": "2baa482c-df16-4811-b7e9-db63c27cf246",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    query: 'n8n execute sub-workflow trigger input data',\n    count: 5,\n    country: 'US',\n    search_lang: 'en',\n    ui_lang: 'en-US',\n    freshness: '',\n    safesearch: 'moderate'\n  }\n};"
      },
      "id": "4b3b83ae-c07f-46fc-bfd7-fd94889b6b4d",
      "name": "Build Test Search Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        352
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yE8wUNySkRxoR6qx",
          "mode": "id",
          "cachedResultUrl": "/workflow/yE8wUNySkRxoR6qx"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query }}",
            "count": "={{ $json.count }}",
            "country": "={{ $json.country }}",
            "search_lang": "={{ $json.search_lang }}",
            "ui_lang": "={{ $json.ui_lang }}",
            "freshness": "={{ $json.freshness }}",
            "safesearch": "={{ $json.safesearch }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "count",
              "displayName": "count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "search_lang",
              "displayName": "search_lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ui_lang",
              "displayName": "ui_lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "freshness",
              "displayName": "freshness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "safesearch",
              "displayName": "safesearch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "6ba51a4f-dc20-486d-83fa-c90693399ee2",
      "name": "Call Web Search Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        352
      ],
      "notes": "After importing the main search workflow, replace the workflowId value with that workflow's real ID."
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst records = Array.isArray(response.records) ? response.records : [];\n\nreturn {\n  json: {\n    status: response.status,\n    query: response.query,\n    recordCount: response.recordCount,\n    firstThreeResults: records.slice(0, 3).map((record) => ({\n      rank: record.rank,\n      title: record.title,\n      url: record.url,\n      description: record.description,\n    })),\n    fullResponse: response\n  }\n};"
      },
      "id": "d9ee9568-ca12-4517-98eb-0c3b9e412db3",
      "name": "Prepare Test Preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        352
      ]
    },
    {
      "parameters": {
        "content": "## Test workflow setup\n1. Import `Web Search - Brave API`.\n2. Create/select the `Brave Search API` HTTP Header Auth credential in the search workflow.\n3. Copy the imported search workflow ID from its URL.\n4. Paste it into **Call Web Search Workflow**.\n5. Run this test manually and inspect `firstThreeResults`.",
        "height": 304,
        "width": 448,
        "color": 4
      },
      "id": "e5a20ef8-0480-4498-a826-df1d8c1a8b7a",
      "name": "Test Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Build Test Search Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Test Search Payload": {
      "main": [
        [
          {
            "node": "Call Web Search Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Web Search Workflow": {
      "main": [
        [
          {
            "node": "Prepare Test Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1cac4a04-9d4b-46e7-9a66-e3e4c7149a49",
  "meta": {
    "instanceId": "d1c4ccf66a09f4410effe2c9a613e63c898b8820cf6eff79e5e5a08d9cbf106c"
  },
  "id": "RHWzSqt2f961slAO",
  "tags": []
}