workflows/brave-search/Web Search - Brave API.json
{
  "name": "Web Search - Brave API",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"query\": \"n8n execute sub-workflow trigger input data\",\n  \"count\": 5,\n  \"country\": \"US\",\n  \"search_lang\": \"en\",\n  \"ui_lang\": \"en-US\",\n  \"freshness\": \"\",\n  \"safesearch\": \"moderate\"\n}"
      },
      "id": "19befe45-92d4-42c5-9a04-d5e250809161",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -624,
        512
      ],
      "notes": "Input contract for caller workflows. Required: query. Optional: count, country, search_lang, ui_lang, freshness, safesearch."
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json || {};\n\nconst rawQuery = input.query ?? input.q ?? input.searchQuery;\nif (typeof rawQuery !== 'string' || !rawQuery.trim()) {\n  throw new Error('Missing required input field: query');\n}\n\nconst parseInteger = (value, fallback) => {\n  const parsed = parseInt(value, 10);\n  return Number.isFinite(parsed) ? parsed : fallback;\n};\n\nconst clamp = (value, min, max) => Math.min(max, Math.max(min, value));\nconst normalizeString = (value, fallback) => {\n  if (typeof value !== 'string') return fallback;\n  const trimmed = value.trim();\n  return trimmed || fallback;\n};\n\nconst safesearchAllowed = new Set(['off', 'moderate', 'strict']);\nconst freshnessAllowed = new Set(['', 'pd', 'pw', 'pm', 'py']);\n\nconst count = clamp(parseInteger(input.count ?? input.limit, 5), 1, 20);\nconst safesearchInput = normalizeString(input.safesearch, 'moderate');\nconst freshnessInput = normalizeString(input.freshness, '');\n\nreturn {\n  json: {\n    query: rawQuery.trim(),\n    count,\n    country: normalizeString(input.country, 'US').toUpperCase(),\n    search_lang: normalizeString(input.search_lang ?? input.searchLang, 'en'),\n    ui_lang: normalizeString(input.ui_lang ?? input.uiLang, 'en-US'),\n    safesearch: safesearchAllowed.has(safesearchInput) ? safesearchInput : 'moderate',\n    freshness: freshnessAllowed.has(freshnessInput) || /^\\d{4}-\\d{2}-\\d{2}to\\d{4}-\\d{2}-\\d{2}$/.test(freshnessInput)\n      ? freshnessInput\n      : '',\n    requestedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "d77b77e1-e5eb-445d-9358-3258d7a12842",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        512
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://api.search.brave.com/res/v1/web/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "count",
              "value": "={{ $json.count }}"
            },
            {
              "name": "country",
              "value": "={{ $json.country }}"
            },
            {
              "name": "search_lang",
              "value": "={{ $json.search_lang }}"
            },
            {
              "name": "ui_lang",
              "value": "={{ $json.ui_lang }}"
            },
            {
              "name": "freshness",
              "value": "={{ $json.freshness }}"
            },
            {
              "name": "safesearch",
              "value": "={{ $json.safesearch }}"
            },
            {
              "name": "result_filter",
              "value": "web"
            },
            {
              "name": "text_decorations",
              "value": "false"
            },
            {
              "name": "extra_snippets",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "1e7b7b61-9e7b-42a9-be31-3d436a4611d6",
      "name": "Brave Web Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        512
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "EyO66y7MU56f8upN",
          "name": "Brave api header auth"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Create an HTTP Header Auth credential named 'Brave Search API'. Header Name: X-Subscription-Token. Header Value: your Brave Search API key."
    },
    {
      "parameters": {
        "jsCode": "const brave = $input.item.json || {};\nconst request = $('Normalize Input').first().json;\nconst webResults = Array.isArray(brave.web?.results) ? brave.web.results : [];\n\nconst records = webResults.slice(0, request.count).map((result, index) => ({\n  rank: index + 1,\n  title: result.title || '',\n  url: result.url || '',\n  description: result.description || '',\n  age: result.age || null,\n  pageAge: result.page_age || null,\n  language: result.language || null,\n  familyFriendly: typeof result.family_friendly === 'boolean' ? result.family_friendly : null,\n  extraSnippets: Array.isArray(result.extra_snippets) ? result.extra_snippets : [],\n  profile: result.profile\n    ? {\n        name: result.profile.name || null,\n        url: result.profile.url || null,\n        longName: result.profile.long_name || null,\n        img: result.profile.img || null,\n      }\n    : null,\n  source: 'brave:web'\n}));\n\nreturn {\n  json: {\n    status: 'ok',\n    provider: 'brave',\n    query: request.query,\n    recordCount: records.length,\n    records,\n    request,\n    metadata: {\n      braveType: brave.type || null,\n      alteredQuery: brave.query?.altered || null,\n      spellcheckOff: brave.query?.spellcheck_off || null,\n      hasNews: Boolean(brave.news?.results?.length),\n      hasVideos: Boolean(brave.videos?.results?.length),\n    },\n    receivedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "e5a51add-bf05-4b63-8765-ddb565550ca4",
      "name": "Format Search Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "let request = {};\ntry {\n  request = $('Normalize Input').first().json;\n} catch (error) {\n  request = $input.item.json || {};\n}\n\nconst input = $input.item.json || {};\nconst error = input.error || input;\n\nreturn {\n  json: {\n    status: 'error',\n    provider: 'brave',\n    query: request.query || input.query || null,\n    recordCount: 0,\n    records: [],\n    error: {\n      message: error.message || input.message || 'Search workflow failed before producing results',\n      name: error.name || input.name || null,\n    },\n    request,\n    receivedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "736b1825-79eb-4c3c-8be0-587a50d8f5df",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        656
      ]
    },
    {
      "parameters": {
        "content": "## Brave API credential\nCreate an **HTTP Header Auth** credential named `Brave Search API`.\n\nHeader Name: `X-Subscription-Token`\nHeader Value: your Brave Search API key.\n\nThe HTTP node also sends `Accept: application/json`, `Accept-Encoding: gzip`, and `Cache-Control: no-cache`.",
        "height": 272,
        "width": 384,
        "color": 5
      },
      "id": "fdd75d02-ad23-4d20-9a35-324646e298d4",
      "name": "Credential Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        176
      ]
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "n8n execute sub-workflow trigger input data",
          "count": 5,
          "country": "US",
          "search_lang": "en",
          "ui_lang": "en-US",
          "freshness": "",
          "safesearch": "moderate"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Brave Web Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brave Web Search": {
      "main": [
        [
          {
            "node": "Format Search Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7e6d3bb0-a0cf-45c5-9067-b15a73edf38e",
  "meta": {
    "instanceId": "d1c4ccf66a09f4410effe2c9a613e63c898b8820cf6eff79e5e5a08d9cbf106c"
  },
  "id": "yE8wUNySkRxoR6qx",
  "tags": []
}